{% extends 'home/base.html' %}
{% load static %}
{% block title %}| Login{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'home/css/login.css' %}">
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row" id="fauth-auth">
            <div id="particles-js"></div>
            <div id="auth-divider"></div>
            <div class="col-12">
                <div class="error-box">
                    <div class="container-fluid">
                        <div class="row justify-content-center error-body">
                            {% for error in errors %}
                                <div class="error-content">
                                    <span class="err-close hover">x</span>
                                    <h4>{{ error }}</h4>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <form id="fauth-login-form" method="post" ref="fauth-login" role="form" @submit.prevent="login">
                    <div class="row justify-content-center login-container">
                        <div class="login-box">
                            <a href="{% url 'home:index' %}">
                                <img class="fauth-logo img-fluid" src="{% static 'home/images/logo/fauth_logo.png' %}" alt="fauth logo">
                            </a>
                            <div class="form-group js-opt login-options animate__animated animate__zoomIn">
                                <label data-toggle="tooltip"
                                       data-placement="left"
                                       title="Take a snapshot to continue"
                                       class="cam"
                                       id="webcam-snapshot"
                                >
                                    <i class="fa fa-camera fa-2x"></i>
                                    <input type="hidden" id="id_snapshot" name="snapshot">
                                </label>
                            </div>
                            <div class="row js-opt animate__animated animate__zoomIn hide">
                                <div class="col-lg-4 col-md-12 form-group">
                                    <label for="f-email" class="pd-t-10 f-15">
                                        <i class="fa fa-envelope"></i> Email
                                    </label>
                                </div>
                                <div class="col-lg-8 col-md-12 form-group">
                                    <input class="form-control" type="email" id="f-email" name="email" placeholder="email address" v-model="email">
                                </div>
                                <div class="col-lg-4 col-md-12 form-group">
                                    <label class="pd-t-10 f-15">
                                        <i class="fa fa-lock-open"></i> Password
                                    </label>
                                </div>
                                <div class="col-lg-8 col-md-12 form-group">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <input class="form-control code-box" type="password" @input="authInputs($event, 0)" ref="focus-0" maxlength="1" placeholder="*">
                                            <input class="form-control code-box" type="password" @input="authInputs($event, 1)" ref="focus-1" maxlength="1" placeholder="*">
                                            <input class="form-control code-box" type="password" @input="authInputs($event, 2)" ref="focus-2" maxlength="1" placeholder="*">
                                            <input class="form-control code-box" type="password" @input="authInputs($event, 3)" ref="focus-3" maxlength="1" placeholder="*">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 form-group text-center">
                                <span class="text text-warning f-15 hover" id="login-switch" @click="face_auth_login_mode = !face_auth_login_mode">
                                    <i class="fa fa-caret-right"></i><i class="fa fa-caret-right"></i>
                                    choose an alternate login method
                                    <i class="fa fa-caret-left"></i><i class="fa fa-caret-left"></i>
                                </span>
                                {% csrf_token %}
                                <input type="hidden" name="face_auth_login" :value="face_auth_login_mode">
                                <input type="hidden" name="next" value="{{ request.GET.next }}">
                                <input type="hidden" :value="passcodes.join('')" name="password">
                            </div>
                            <div class="col-12 text-center form-group">
                                <button type="submit" class="btn" ref="focus-4">
                                    <i class="fa fa-globe"></i> Login
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
    <input type="hidden" value="{% url 'home:api_email_exist' %}" id="js-email-exist-url">
    <input type="hidden" value="{% url 'home:api_image_single_face' %}" id="js-image-singleface-url">
    <input type="hidden" id="particles-json-url" value="{% static 'home/vendors/particles/particles-nasa.json' %}">
{% endblock %}

{% block script %}
    <!-- Vue Plugin -->
    <!-- FIXME: change to vue production file -->
    <script src="{% static 'home/vendors/vue/vue.js' %}"></script>
    <!-- Particle JS-->
    <script src="{% static 'home/vendors/particles/particles.min.js' %}"></script>
    <!-- Webcam JS -->
    <script src="{% static 'home/vendors/webcam/webcam.min.js' %}"></script>
    <!-- Fauth custom webcam -->
    <script src="{% static 'home/js/fauthWebCam.js' %}"></script>
    <!-- App script-->
    <script src="{% static 'home/js/util.js' %}"></script>
    <script src="{% static 'home/js/auth.js' %}"></script>
{% endblock %}