{% extends 'home/base.html' %}
{% load static %}
{% block title %}| Register{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'home/css/register.css' %}">
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row" id="fauth-auth">
            <div id="particles-js"></div>
            <div id="auth-divider"></div>
            <div class="col-12">
                <div class="row justify-content-center register-container">
                    <div class="register-box animate__animated animate__slideInLeft">
                        <a href="{% url 'home:index' %}">
                            <img class="fauth-logo img-fluid" src="{% static 'home/images/logo/fauth_logo.png' %}" alt="fauth logo">
                        </a>
                        <form role="form" method="post" id="fauth-register-form">
                            <div class="col-12">
                                <div class="row justify-content-center">
                                    <div class="form-group">
                                        <label for="id_images" class="col-12 upload-images"
                                               data-toggle="tooltip"
                                        data-placement="left"
                                        title="you can upload multiple passport images to increase efficiency in recognition">
                                            <input type="file" id="id_images" multiple accept="image/*">
                                            <i class="fa fa-images fa-2x"></i>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="id_name" class="col-12">Name</label>
                                    {{ form.name }}
                                </div>
                                <div class="form-group">
                                    <label for="id_email" class="col-12">Email</label>
                                    {{ form.email }}
                                </div>
                                <div class="form-group">
                                    <label for="id_phone" class="col-12">Phone</label>
                                    {{ form.phone }}
                                </div>
                                <div class="row justify-content-center">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-lg">
                                            <i class="fa fa-thumbs-up"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <input type="hidden" id="particles-json-url" value="{% static 'home/vendors/particles/particles-nasa.json' %}">
{% endblock %}

{% block script %}
    <!-- Particle JS-->
    <script src="{% static 'home/vendors/particles/particles.min.js' %}"></script>
    <!-- App script-->
    <script src="{% static 'home/js/app.js' %}"></script>
{% endblock %}