{% extends 'home/base.html' %}
{% load static %}
{% block title %}| Register{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'home/css/register.css' %}">
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row" id="fauth-auth">
            <div id="particles-js"></div>
            <div id="auth-divider"></div>
            <div class="col-12">
                <div class="row justify-content-center register-container">
                    <div class="register-box animate__animated animate__slideInLeft">
                        <a href="{% url 'home:index' %}">
                            <img class="fauth-logo img-fluid" src="{% static 'home/images/logo/fauth_logo.png' %}" alt="fauth logo">
                        </a>
                        <form role="form" method="post" id="fauth-register-form" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="col-12">
                                <div class="row justify-content-center">
                                    <div class="form-group">
                                        <label for="id_image" class="col-12 upload-images"
                                               data-toggle="tooltip"
                                               data-placement="left"
                                               title="Upload a clear image passport">
                                            <input type="file" id="id_image">
                                            <i class="fa fa-images fa-2x"></i>
                                        </label>
                                        <label id="webcam-snapshot" for="id_snapshot"
                                               class="col-12 upload-images"
                                               data-toggle="tooltip"
                                               data-placement="left"
                                               title="Take snapshot from WebCam">
                                            {{ form.snapshot }}
                                            <i class="fa fa-camera fa-2x"></i>
                                        </label>
                                        <span id="switch-image-option" class="hover side" data-toggle="tooltip" data-placement="right" title="toggle upload option">
                                            <i class="fa fa-sync js-image-switch"></i>
                                        </span>
                                        <span class="hover side" data-toggle="tooltip"
                                              data-placement="right"
                                              title="passport image will be used as default login verification.
                                                       This can be changed later in settings."
                                              style="width: 20px;height:20px"
                                        >
                                            <i class="fa fa-question"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="id_name" class="col-12">Name</label>
                                    {{ form.name }}
                                </div>
                                <div class="form-group">
                                    <label for="id_email" class="col-12">Email</label>
                                    {{ form.email }}
                                </div>
                                <div class="form-group">
                                    <label for="id_phone" class="col-12">Phone</label>
                                    {{ form.phone }}
                                </div>
                                <div class="row justify-content-center">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-lg">
                                            <i class="fa fa-thumbs-up"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" value="{% url 'home:api_email_exist' %}" id="js-email-exist-url">
    <input type="hidden" value="{% url 'home:api_image_single_face' %}" id="js-image-singleface-url">
    <input type="hidden" id="particles-json-url" value="{% static 'home/vendors/particles/particles-nasa.json' %}">
    <input type="hidden" value="{% url 'home:api_user_image_exist' %}" id="js-image-exist-url">
{% endblock %}

{% block script %}
    <script src="{% static 'home/js/csrf_ajax.js' %}"></script>
    <!-- Particle JS-->
    <script src="{% static 'home/vendors/particles/particles.min.js' %}"></script>
    <!-- Webcam JS -->
    <script src="{% static 'home/vendors/webcam/webcam.min.js' %}"></script>
    <!-- Fauth custom webcam -->
    <script src="{% static 'home/js/fauthWebCam.js' %}"></script>
    <!-- App script-->
    <script src="{% static 'home/js/util.js' %}"></script>
    <script src="{% static 'home/js/auth.js' %}"></script>
{% endblock %}