:root{
    --fauth-primary-color: #9e8ed4;
    --fauth-highlight-color: #007bff;
    --fauth-accent-color: #070034
}
*{
    font-family: "Lucida Console", Courier, monospace;
}
body{
    background: var(--fauth-accent-color);
    color: #ffffff;
}

/*  Preloader */
@keyframes fauth_loading {
    0%{ opacity: 0;left: 43%;}
    40%{ opacity: 1; left: 45%;}
    80%{opacity: 1; left: 49%}
    100%{opacity: 0; left: 57%}
}

/* Glowing Divider */
@keyframes glow {
    0%, 100% {
        box-shadow: 0 0 0 var(--fauth-highlight-color), 0 -0 0 var(--fauth-highlight-color)
    }
    30% {
        box-shadow: 0 5px 10px var(--fauth-highlight-color), 0 -5px 10px var(--fauth-highlight-color)
    }
    60% {
        box-shadow: 0 15px 20px var(--fauth-highlight-color), 0 -15px 20px var(--fauth-highlight-color)
    }
    90% {
        box-shadow: 0 5px 10px var(--fauth-highlight-color), 0 -5px 10px var(--fauth-highlight-color)
    }
}



/* Preloader */
#preloader{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(7,0,52, .9) url("../images/logo/fauth_logo.png") no-repeat center fixed;
    background-size: 20%;
    z-index: 99999999;
}
#preloader > .single-line{
    position: relative;
    width: 70px;
    height: 5px;
    background-image: radial-gradient(rgba(152, 142, 212,.5), rgba(7,0,52,.5) );
    top: 70%;
    left: 43%;
    opacity: 0;
    border-radius: 5px;
    animation: fauth_loading 0.5s linear infinite 0s;
}

/* Buttons */
button.btn{
    background: transparent;
    color: var(--fauth-primary-color);
    border-color: var(--fauth-highlight-color)
}
button.btn:hover{
    background: var(--fauth-primary-color);
    color: var(--fauth-accent-color);
    border: 0
}
/* Inputs */
input.form-control, input.form-control:focus{
    background-color: transparent;
    border-color: var(--fauth-highlight-color);
    color: var(--fauth-primary-color)
}

.hover:hover{
    cursor: pointer;
}