@import "base.css";

#particles-js{
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%
}

@media screen and (min-width: 320px){
    #fauth-auth{
        min-height: 80vh
    }
    #auth-divider{
        display: none;
        position: absolute;
        width: 100%;
        top: 49%;
        left:0;
        height: 3px;
        background-color: var(--fauth-highlight-color);
        border-radius: 50%;
        animation: glow 4s linear infinite 0s
    }
    .login-container{
        padding-top:45%;
    }
    .login-box{
        width: 70%;
        background-color: var(--fauth-accent-color);
        box-shadow: -1px -1px 10px var(--fauth-highlight-color), 1px 1px 10px var(--fauth-highlight-color);
        border-radius: 20px;
        z-index: 1;
        padding-left: 20px;
        padding-right: 20px;
    }
    .login-box img{
        width: 100px;
        height:100px;
        margin-left: 35%
    }
    .login-box .login-options{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 20px 10px;
    }
    .login-box .login-options label{
        display: inline-block;
        width: 100px;
        height: 100px;
        border: 1px solid var(--fauth-primary-color);
        border-radius: 50%;
        color: var(--fauth-primary-color);
        padding: 35px 32px;
        transition: all linear .3s;
    }
    .login-box .login-options label:hover{
        cursor: pointer;
        background-color: var(--fauth-primary-color);
        border: 0;
        color: #413857
    }
    .login-box input[type='password']{
        display: inline-flex;
        width: 23%;
        height: 50px;
        font-size: 2rem;
        text-align: center;
        padding: 5px 0 0 0;
        margin: 0;
    }
    .login-box input[type='password']:not(:last-of-type){
        margin-right: 2%;
    }
}

@media screen and (min-width: 768px){
    .login-container{
        padding-top:20%;
    }
}

@media screen and (min-width: 1024px){
    #fauth-auth{
        min-height: 100vh
    }
    #auth-divider{
        display:block
    }
    .login-container{
        padding-top:12%;
    }
    .login-box{
        width: 30%;
    }
    .login-box img{
        margin-left: 38%;
    }
}
