:root{
    --fauth-primary-color: #9e8ed4;
    --fauth-highlight-color: #007bff;
    --fauth-accent-color: #070034;
    --fauth-accent-trans-color: rgba(7, 0, 52, 0.7);
    --fauth-accent-dark-color: #040022;
    --fauth-accent-dark-trans-color: rgba(4, 0, 34, 0.52)
}
*{
    font-family: "Lucida Console", Courier, monospace;
}
body{
    background: var(--fauth-accent-color);
    color: #ffffff;
}

/*  Rotating */
@keyframes rotate {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}

/* Glowing Divider */
@keyframes glow {
    0%, 100% {
        box-shadow: 0 0 0 var(--fauth-highlight-color), 0 -0 0 var(--fauth-highlight-color)
    }
    30% {
        box-shadow: 0 5px 10px var(--fauth-highlight-color), 0 -5px 10px var(--fauth-highlight-color)
    }
    60% {
        box-shadow: 0 15px 20px var(--fauth-highlight-color), 0 -15px 20px var(--fauth-highlight-color)
    }
    90% {
        box-shadow: 0 5px 10px var(--fauth-highlight-color), 0 -5px 10px var(--fauth-highlight-color)
    }
}

.hover:hover{
    cursor: pointer;
}
.pd-t-10{
    padding-top: 10px
}
.f-15{
    font-size: 15px
}
.hide{
    display: none!important;
}

/* Preloader */
#preloader{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(7,0,52, .9) url("../images/logo/fauth_logo.png") no-repeat center fixed;
    background-size: 20%;
    z-index: 99999999;
}
#preloader > .wheel{
    position: relative;
    top: 70%;
    left: 48%;
    width: 40px;
    height: 40px;
    border-top: 1px solid var(--fauth-highlight-color);
    background-color: transparent;
    border-radius: 50%;
    animation: rotate .7s linear infinite 0s;
}

/* Buttons */
button.btn, a.btn{
    background: transparent;
    color: var(--fauth-primary-color);
    border-color: var(--fauth-highlight-color)
}
button.btn:hover, a.btn:hover{
    background: var(--fauth-primary-color);
    color: var(--fauth-accent-color);
    border: 0
}
/* Inputs */
input.form-control, input.form-control:focus{
    background-color: transparent;
    border-color: var(--fauth-highlight-color);
    color: var(--fauth-primary-color)
}

/* loading overlay */
#loading{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: var(--fauth-accent-trans-color);
    z-index: 2;
}
/* Element loading overlay */
#loading > #wheel{
    position: relative;
    display: block;
    top: 40%;
    left:40%;
    width: 70px;
    height: 70px;
    border-top: 2px solid var(--fauth-highlight-color);
    border-left: 2px solid var(--fauth-highlight-color);
    background-color: transparent;
    border-radius: 50%;
    animation: rotate .5s linear infinite 0s;
}
/* WEBCAM */
@media screen and (min-width: 320px){
    /* Webcam Modal */
    .webcam-content{
        background-color: var(--fauth-accent-color)
    }
    .webcam-content .fauth-logo{
        width: 50px;
        height: 50px
    }
    .webcam-content button[class='close']{
        color: var(--fauth-highlight-color)
    }
    .webcam-content .webcam-image-block{
        height: 200px;
        background-color: var(--fauth-highlight-color)
    }
    .webcam-content video{
        position: absolute;
        max-width: 100%;
        width: auto!important;
        height: auto!important;
        top: 0;
        left: 0
    }
    .webcam-header{
        border-bottom-color: transparent;
    }
    .webcam-content .webcam-image-block .webcam-preview{
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left: 0
    }
    .webcam-footer{
        border-top-color: transparent;
    }
    .webcam-footer > button{
        border-radius: 40%;
    }
    .webcam-footer > button:nth-child(2),
    .webcam-footer > button:nth-child(3)
    {
        display: none
    }
}
