@import "base.css";


#app-view-candidate{
    position: relative;
    background: var(--fauth-accent-dark-color);
    max-height: 400px;
    border-radius: 10px;
    padding: 20px;
}

#app-view-candidate table{
    color: var(--fauth-primary-color);
    max-height: 430px;
    overflow-y: auto;
    background: var(--fauth-accent-dark-color);
}

#app-view-candidate table td,
#app-view-candidate table th{
    border-color: var(--fauth-highlight-trans-color);
}

#app-view-candidate table thead th{
    border: none;
}

#app-view-candidate table .profile-img{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--fauth-highlight-color) no-repeat center top;
    background-size: cover;
}

#app-view-candidate table .profile-img > .img-overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--fauth-accent-trans-color);
    padding-top: 15px;
}

#app-view-candidate table .profile-img:hover .img-overlay{
    cursor: pointer;
    display: block;
}

#app-view-candidate table .sl{
    color: var(--fauth-highlight-trans-color)
}

#app-view-candidate table tbody .options button{
    background: none;
    border: none!important;
    outline: none;
    color: var(--fauth-primary-color)
}


#app-view-candidate table tbody .options button::after{
    content: none;
}

#app-view-candidate table tbody .options .dropdown-menu{
    background: var(--fauth-accent-dark-trans-color);
    border-color: var(--fauth-highlight-trans-color)
}

#app-view-candidate table tbody .options .dropdown-item{
    color: var(--fauth-primary-color);
    transition: all .3s linear;
}

#app-view-candidate table tbody .options .dropdown-item:hover{
    background-color: var(--fauth-primary-trans-color);
    color: var(--fauth-accent-dark-color)
}

/** view candidate modal **/
#v-candidate-modal .modal-content{
    background-color: transparent;
}
#e-candidate-modal .modal-content{
    background-color: var(--fauth-accent-color);
}
#v-candidate-modal .modal-header,
#e-candidate-modal .modal-header{
    border-bottom: none;
}
#v-candidate-modal .cand-prev{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: var(--fauth-highlight-trans-color) no-repeat center top;
    background-size: cover;
}
#v-candidate-modal .modal-header .close,
#e-candidate-modal .modal-content .close{
    color: var(--fauth-highlight-color)
}
#v-candidate-modal .modal-header .close:focus,

    /** Edit candidate modal **/
#e-candidate-modal .modal-header .close:focus{
    outline: none;
}
#e-candidate-modal .e-candidate-profile-img .img-block{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: var(--fauth-highlight-color) no-repeat center top;
    background-size: cover;
}
#e-candidate-modal .e-candidate-profile-img #candidate-image-label{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--fauth-primary-trans-color);
    display: none;
    text-align: center;
    font-size: 16px;
}
#e-candidate-modal .e-candidate-profile-img .img-block:hover #candidate-image-label{
    cursor: pointer;
    display: block;
}
#e-candidate-modal .e-candidate-profile-img #candidate-image-label input[type='file']{
    visibility: hidden;
}
#e-candidate-modal .modal-footer{
    border-top-color: var(--fauth-primary-color)
}